/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "bootstrap-sprockets";
@import "bootstrap";

li a.text-success {
  color: blue;
}

.navbar {
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.navbar-default .navbar-brand {
  color: white;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.myform {
  fieldset {
    font-family: sans-serif;
    legend {
      font-size: 25px;
      font-family: cursive;
    }
    p {
      span {
        color: red;
      }
    }
  }
  border: 1px solid #e1e1e1;
  padding: 4rem 4rem 4rem 4rem;
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
    &:hover {
      color: #428bca;
      text-decoration: none;
    }
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    float: left;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
    a:hover{
      color: #333;
      text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}
